<header [ngClass]="{headerContainer:true}">
  <div [ngClass]="{headerItem:true}">
    <img [ngClass]="{headerImg:true}" src="{{person.imageSrc}}" alt="img">
  </div>
  <div [ngClass]="{headerItem:true}">
    <div [ngClass]="{headerText:true}">
      {{person.lastname | uppercase}}, {{person.firstname | uppercase}} {{person.patronymic ==
      null?'':person.patronymic}}
    </div>
  </div>
  <div [ngClass]="{headerLastItem:true}">
    {{person.contactDetails.email}}
  </div>
</header>
<main [ngClass]="{mainContainer:true}">
  <app-main-info [person]="person"></app-main-info>
  <div [ngClass]="{addInfoContainer:true}">
    <ol [ngClass]="{addInfoItem:true}">
      <p>Job places:</p>
      <li *ngFor="let item of getJobPlaces()">
        <div>{{item.company|uppercase}}</div>
        <div>From {{item.startTime|date:'dd.MM.yyyy'}} to {{item.endTime|date:'dd.MM.yyyy'}}</div>
        <div>({{getDescrJobPlace(item)}})</div>
      </li>
    </ol>
    <div [ngClass]="{addInfoItem:true}" [ngStyle]="{'flex':'1', 'text-align':'center'}">
      <p>Experience description</p>
      <div>{{getDescrOfExperience()}}</div>
    </div>
    <ol [ngClass]="{addInfoItem:true}">
      <p>Skills:</p>
      <li *ngFor="let item of person.skills">
        <div>{{item.name|uppercase}}</div>
        <div>({{getDescrOfSkill(item)}})</div>
      </li>
    </ol>
  </div>
</main>
